.divider {
    display: block;
    text-align: center;
    margin: 1rem 0;
    overflow: hidden;
    white-space: nowrap
}

.divider .divider-text {
    position: relative;
    display: inline-block;
    font-size: .8rem;
    padding: 0rem 1rem
}

.divider .divider-text i {
    font-size: 1.25rem
}

.divider .divider-text:before,
.divider .divider-text:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    border-top: 1px solid rgba(75, 70, 92, .2)
}

.divider .divider-text:before {
    right: 100%
}

.divider .divider-text:after {
    left: 100%
}

.divider.text-start .divider-text {
    padding-left: 0
}

.divider.text-end .divider-text {
    padding-right: 0
}

.divider.text-start-center .divider-text {
    left: -25%
}

.divider.text-end-center .divider-text {
    right: -25%
}

.divider.divider-dotted .divider-text:before,
.divider.divider-dotted .divider-text:after,
.divider.divider-dotted:before,
.divider.divider-dotted:after {
    border-style: dotted;
    border-width: 0 1px 1px;
    border-color: #4b465c33
}

.divider.divider-dashed .divider-text:before,
.divider.divider-dashed .divider-text:after,
.divider.divider-dashed:before,
.divider.divider-dashed:after {
    border-style: dashed;
    border-width: 0 1px 1px;
    border-color: #4b465c33
}

.divider.divider-vertical {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    margin: unset
}

.divider.divider-vertical:before,
.divider.divider-vertical:after {
    content: "";
    position: absolute;
    left: 50%;
    border-left: 1px solid rgba(75, 70, 92, .2)
}

.divider.divider-vertical:before {
    bottom: 50%;
    top: 0
}

.divider.divider-vertical:after {
    top: 50%;
    bottom: 0
}

.divider.divider-vertical.divider-dashed:before,
.divider.divider-vertical.divider-dashed:after {
    border-width: 1px 1px 1px 0
}

.divider.divider-vertical.divider-dotted:before,
.divider.divider-vertical.divider-dotted:after {
    border-width: 1px 1px 1px 0
}

.divider.divider-vertical .divider-text {
    background-color: #fff;
    z-index: 1;
    padding: .5rem
}

.divider.divider-vertical .divider-text:before,
.divider.divider-vertical .divider-text:after {
    content: unset
}

.divider.divider-vertical .divider-text .badge-divider-bg {
    padding: .375rem .29rem;
    border-radius: 50%;
    font-weight: 500;
    font-size: .6875rem
}

[dir=rtl] .divider.text-start-center .divider-text {
    right: -25%;
    left: auto
}

[dir=rtl] .divider.text-end-center .divider-text {
    left: -25%;
    right: auto
}

[dir=rtl] .divider.text-start .divider-text {
    padding-right: 0;
    padding-left: 1rem
}

[dir=rtl] .divider.text-end .divider-text {
    padding-left: 0;
    padding-right: 1rem
}

.divider.divider-secondary.divider-vertical:before,
.divider.divider-secondary.divider-vertical:after,
.divider.divider-secondary .divider-text:before,
.divider.divider-secondary .divider-text:after {
    border-color: #a8aaae
}

.divider.divider-success.divider-vertical:before,
.divider.divider-success.divider-vertical:after,
.divider.divider-success .divider-text:before,
.divider.divider-success .divider-text:after {
    border-color: #28c76f
}

.divider.divider-info.divider-vertical:before,
.divider.divider-info.divider-vertical:after,
.divider.divider-info .divider-text:before,
.divider.divider-info .divider-text:after {
    border-color: #00cfe8
}

.divider.divider-warning.divider-vertical:before,
.divider.divider-warning.divider-vertical:after,
.divider.divider-warning .divider-text:before,
.divider.divider-warning .divider-text:after {
    border-color: #ff9f43
}

.divider.divider-danger.divider-vertical:before,
.divider.divider-danger.divider-vertical:after,
.divider.divider-danger .divider-text:before,
.divider.divider-danger .divider-text:after {
    border-color: #ea5455
}

.divider.divider-dark.divider-vertical:before,
.divider.divider-dark.divider-vertical:after,
.divider.divider-dark .divider-text:before,
.divider.divider-dark .divider-text:after {
    border-color: #4b4b4b
}

.divider.divider-gray.divider-vertical:before,
.divider.divider-gray.divider-vertical:after,
.divider.divider-gray .divider-text:before,
.divider.divider-gray .divider-text:after {
    border-color: #4b465c0d
}